@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap");

* {
    font-family: Montserrat, Arial, sans-serif;
}

body {
    margin: 0;
    background-color: #252746;

    padding: 0;
}

.text-warning,
.navbar-brand .text-warning {
    color: #00b2c3 !important;
    font-size: 50px;
    font-weight: bold;
}
.navbar a {
    text-shadow: #00b2c3 1px 0 10px;
    text-decoration: none;
}

.quest {
    font-weight: bold;
    font-size: 50px;
    color: #ffffff;
}
.logout {
    background-color: #f9ce46;
    border: none;
    border-bottom: 2px solid #585463;
}

.button-card div {
    background-color: #036891;
    border-radius: 20px;
    border-bottom: 3px solid #ffffff;
    text-decoration: none;
    flex: 1;
    color: #fff;
    text-align: center;
    text-decoration: none;
    height: 3rem;
}
.button-card div:hover,
div:focus {
    background-color: #fff;
    color: #46f0e4;
}
#intro {
    background-color: #1e1b4b;
    color: white;
}

.circular {
    width: 100%;
    height: auto;
    max-width: 300px;
    margin: 0 auto;
}

.chart-placeholder {
    width: 100%;
    height: 300px;
    background-color: #e9ecef;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-header {
    background-color: #1e1b4b;
    color: white;
}

.img-fluid {
    height: 300px;
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #ffffff;
}
.card-header {
    background-color: #00b2c3;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

    canvas {
        max-height: 300px !important;
    }
