@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");

* {
    font-family: "Orbitron";
}

body {
    margin: 0;
    background: fixed
        linear-gradient(
            to left bottom,
            #46f0e4,
            #40c8d7,
            #54a0ba,
            #5d7a91,
            #545863
        );
}

.text-warning,
.navbar-brand .text-warning {
    color: #46f0e4 !important;
    font-size: 50px;
}

.quest {
    font-size: 50px;
    color: white;
}

#intro {
    background-color: #1e1b4b;
    color: white;
}

.nav {
    align-items: center;
}

.circular {
    width: 100%;
    height: auto;
    max-width: 300px;
    margin: 0 auto;
}

.chart-placeholder {
    width: 100%;
    height: 300px;
    background-color: #e9ecef;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-header {
    background-color: #1e1b4b;
    color: white;
}

.img-fluid {
    height: 300px;
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

