body {
    background: linear-gradient(
        to left bottom,
        #46f0e4,
        #40c8d7,
        #54a0ba,
        #5d7a91,
        #545863
    );
}

.navbar,
.navbar-light.bg-light,
footer.bg-dark {
    background: #545863 !important;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link {
    color: #fafafa !important;
}

.section-padding {
    padding: 100px 0;
    background: transparent;
}

.card,
.card.text-white.bg-dark,
.portfolio .card,
.team .card {
    background-color: #1e1b4b00
    !important;
    color: #ffffff !important;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border: none;
}

.carousel-caption h5,
.carousel-caption p {
    color: #fff !important;
    text-shadow: #545863 1px 0 10px;
}

footer.bg-dark,
footer {
background-color: #000000 !important;
    color: #fff !important;
}

.text-warning,
.navbar-brand .text-warning {
    color: #46f0e4 !important;
}

.carousel-item {
    height: 95vh;      
    min-height: 300px;
}

.carousel-item img {
    height: 100%;
    object-fit: cover;
}

/* Estilos personalizados para los botones de Login y Registro */
.btn-byte {
    background-color: #46f0e4;
    
}

.btn-byte:hover,
.btn-byte:focus {
    background-color: #40c8d7;
    color: #fff;
    text-shadow: 0 1px 8px #545863;
}

.about-img img {
    height: auto;
    max-width: 250px;
    height: auto;
    display: block;
    margin: 0 auto;
}