@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

body {
  font-family: Montserrat, Arial, sans-serif;
}

.container-fluid {
  background: linear-gradient(to right, rgb(37, 39, 70) 50%, #545863 50%);
}

.header-link {
  color: whitesmoke;
  text-shadow: #545863 1px 0 10px;
}

.card {
  background-color: rgb(37, 39, 70);
  border-radius: 15px;
}

.card h2 {
  color: #fefefe;
}

.btn.btn-warning {
  background-color: #f9c846;
  border: none;
  border-bottom: 2px solid #fefefe;
}

.btn.btn-warning:hover {
  background-color: #545863;
  transition: 0.5s ease;
}

.footer a {
  color: white;
}

.container-fluid {
  min-height: 100vh;
  background: linear-gradient(to right, rgb(37, 39, 70) 50%, #545863 50%);
}

@media (max-width: 767.98px) {
  .container-fluid {
    background: #545863;
  }
}
    
